<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="gateentrylist">
    <div class="p-16" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
                 fxLayoutAlign="start">


                <div class="h3 mb-8 p-16" fxLayout="column" style="padding-top: 20px">
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.lt-sm="row" fxLayoutGap="10px">
                        <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <b>GateEntry List ( </b><b
                            style="color: red"> {{ sessionManageMent.getLocationName}} </b><b> )</b>
                        </div>
                        <div fxFlex="50" fxLayout="row" fxLayoutAlign="end">
                            <div fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="end"
                                 fxLayoutGap="20px">
                                <button (click)="creategateentry()"
                                        class="mr-sm-12" color="accent" mat-raised-button mat-ripple>
                                    <b>New</b>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


                <mat-divider></mat-divider>
                <br>
                <div class="p-8" fxFlex fxLayout="column" fxLayout.lt-sm="column">
                    <div class="example-container">
                        <table [dataSource]="dataSource" mat-table matSort>
                            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                <th *matHeaderCellDef mat-header-cell>
                                    <div class="filterHeader">
                                        <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                        <input (keyup)="applyFilter($event.target.value,column)"
                                               *ngIf="column!='Action'"
                                               [placeholder]="column|firstAnd_Split">
                                    </div>
                                </th>
                                <td *matCellDef="let element" mat-cell>
                                    <p *ngIf="column!='Action';else elseAction">{{element[column]}}</p>
                                    <ng-template #elseAction>
                                        <button (click)="viewinfo(element.gate_entry_no)" *ngIf="column=='Action'"
                                                mat-icon-button>
                                            <mat-icon class="icon-size">visibility</mat-icon>
                                        </button>
                                        <p *ngIf="column=='created_on'">{{element[column]|date:'dd/MM/yyyy HH:MM a'}}</p>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                        </table>
                        <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                        <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                    </div>
                    <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

