#cage_table {

    width: 75%;
    border-collapse: collapse;
    overflow-x: auto;

    td {
        padding: 5px;
        border: 1px solid #e0e0e0;
    }

    tr {
        font-weight: bold;
    }

}