<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="grn">
    <div class="p-16" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
                <div class=" h3 mb-8 p-16">
                    <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column"
                         fxLayoutAlign="space-between center"
                         fxLayoutGap="10px">
                        <div fxFlex="30">
                            <b>Tray Sorting </b><b
                            style="color: red"> {{ sessionManageMent.getLocationName}} </b>
                        </div>
                    </div>
                </div>

                <mat-divider></mat-divider>

                <div class="p-16">
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                        <div fxFlex="grow">
                            <mat-form-field appearance="outline" fxFlex="grow">
                                <mat-label>Tray</mat-label>
                                <input (keydown.enter)="tray_scan()" [formControl]="ScanTray" id="tray" matInput>
                            </mat-form-field>
                        </div>
                        <div fxFlex="grow">
                            <mat-form-field appearance="outline" fxFlex="grow">
                                <mat-label>Cage</mat-label>
                                <input (keydown.enter)="cage_scan()" [formControl]="ScanCage" id="cage" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                        <table *ngIf="this.traySortingModel?.length>0" id="cage_table">
                            <tr>
                                <td>Cage ID :</td>
                                <td>{{traySortingModel[0].cageid}}</td>
                                <td>Pick No :</td>
                                <td>{{traySortingModel[0].pick_no}}</td>
                            </tr>
                            <tr>
                                <td>Sorting Zone :</td>
                                <td>{{traySortingModel[0].sorting_zone}}</td>
                                <td>Source Type :</td>
                                <td>{{traySortingModel[0].source_type}}</td>
                            </tr>
                            <tr *ngIf="traySortingModel[0]?.marketplace.length>2">
                                <td>Marketplace Name :</td>
                                <td>{{traySortingModel[0].marketplace}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>