<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="createsaleorder">
    <div class="content p-20" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">

                <div class=" h3 mb-8 p-16">
                    <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between"
                         fxLayoutGap="10px">
                        <div fxFlex="60" fxFlex.sm fxLayout.lt-sm="column">
                            <b>{{this.inputjson.type|titlecase}} Sale Order ( </b> <b
                            style="color: red"> {{sessionManageMent.getLocationName}}</b><b>
                            ) {{currentdate | date: 'dd/MM/yyyy hh:mm a'}} </b>
                        </div>

                        <div *ngIf="dataSource?.data?.length>0" fxFlex="20" fxLayout="row" fxLayoutAlign="end">
                            <button (click)="complete_so()" [disabled]="BasicInput.invalid"
                                    aria-label="Submit"
                                    color="accent"
                                    mat-raised-button>
                                Submit
                            </button>
                        </div>
                    </div>
                </div>


                <mat-divider></mat-divider>
                <mat-horizontal-stepper #stepper linear>
                    <mat-step [stepControl]="BasicInput" label="Basic Information">
                        <form [formGroup]="BasicInput">
                            <div class="p-16" fxFlex fxLayout="column">
                                <div fxLayout="column" fxLayoutGap="10px">
                                    <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                        <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                            <div fxLayout="column" style="width: 80%;">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Customer Name or Mobile No</mat-label>

                                                    <mat-select (selectionChange)="get_CustomerFull_info()" autocomplete="off"
                                                                formControlName="CustomerNameorNo">
                                                        <input [(ngModel)]="searchByCustomerNameorNo"
                                                               [ngModelOptions]="{standalone:true}"
                                                               (ngModelChange)="get_CustomerNo()"
                                                               autocomplete="off" class="myInput"
                                                               focused="'true'" matInput placeholder="Search"
                                                               type="text">
                                                        <mat-option>None</mat-option>
                                                        <mat-option
                                                            *ngFor="let shippingOrder of customerlist"
                                                            [value]="shippingOrder.customer_id">{{shippingOrder.full_name}}</mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                        Customer Name or Number is required
                                                    </mat-error>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                        <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                            <div fxLayout="column" style="width: 80%;">
                                                <mat-form-field appearance="outline">
                                                    <mat-label>Payment Type</mat-label>

                                                    <mat-select autocomplete="off" formControlName="PaymentType">
                                                        <mat-option>None</mat-option>
                                                        <mat-option
                                                            *ngFor="let shippingOrder of paymenttype"
                                                            [value]="shippingOrder">{{shippingOrder}}</mat-option>
                                                    </mat-select>
                                                    <mat-error>
                                                        Payment Type is required
                                                    </mat-error>

                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="addresslist?.length>0">
                                    <b>Addresses </b>
                                    <br><br>
                                </div>
                                <div class="cardcontent" fxFlex fxLayout="row wrap" fxLayout.lt-sm="column"
                                     fxLayoutGap="20px" fxLayoutGap.lt-sm="20px">
                                    <div *ngFor="let address of addresslist; let i = index;" class="pristine-card"
                                         fxFlex="25">
                                        <div class="p-16 pb-0">
                                            <div class="h3 font">{{address.name}}</div>
                                        </div>
                                        <div class="p-16 pt-0 line-height-1.75">
                                            {{address.address + ',' + address.taluka + ',' + address.village
                                        + ',' + address.city + ',' + address.state + ',' + address.pincode}}
                                            <br>
                                            {{'Mobile no:' + '' + address.mobile_no}}
                                        </div>
                                        <div class="p-8 pt-0" fxLayout="row" fxLayoutAlign="start center">
                                            <mat-chip-list aria-label="Fish selection" multiple="true">
                                                <mat-chip (click)="billclick(i)" [selected]="address.billtoselected"
                                                          color="warn">Bill To
                                                </mat-chip>
                                                <mat-chip (click)="shipclick(i)" [selected]="address.shiptoselected"
                                                          color="primary">Ship To
                                                </mat-chip>
                                            </mat-chip-list>
                                        </div>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start center"
                                     style="margin-top: 20px">
                                    <button [disabled]="BasicInput.invalid" color="accent" mat-button
                                            mat-raised-button matStepperNext style="width: 80px;">Next
                                    </button>
                                </div>
                            </div>
                        </form>
                    </mat-step>
                    <mat-step [stepControl]="AddItem" label="Add Item">
                        <form [formGroup]="AddItem">
                            <div fxLayout="column" fxLayoutGap="10px">
                                <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                    <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Find Item By Name Or No</mat-label>
                                                <mat-select autocomplete="off" formControlName="ItemNo">
                                                    <input [(ngModel)]="searchByItemNameorNo"
                                                           [ngModelOptions]="{standalone:true}"
                                                           (ngModelChange)="get_Item()"
                                                           autocomplete="off" class="myInput"
                                                           focused="'true'" matInput placeholder="Search" type="text">
                                                    <mat-option>None</mat-option>
                                                    <mat-option
                                                        *ngFor="let shippingOrder of itemlist"
                                                        [value]="shippingOrder.item_no">{{shippingOrder.name + '( ' + shippingOrder.item_no + ' )'}}</mat-option>
                                                </mat-select>
                                                <mat-error>
                                                    Item Name or Number is required
                                                </mat-error>

                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex="18" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Quantity</mat-label>
                                                <input autocomplete="off" formControlName="Quantity" matInput
                                                       pattern="[0-9]*"
                                                       type="text">
                                                <mat-error>
                                                  Invalid Quantity
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex="18" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Discount %</mat-label>
                                                <input autocomplete="off" formControlName="Discount" matInput
                                                       pattern="[0-9]*"
                                                       type="text">
                                                <mat-error>
                                                  Invalid Discount %
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                     <div fxFlex="18" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                      <mat-form-field appearance="outline">
                                        <mat-label>Cost Per Unit</mat-label>
                                        <input autocomplete="off" formControlName="CostPerUnit" matInput
                                               pattern="[0-9]*"
                                               type="text">
                                        <mat-error>
                                          Invalid cost per unit
                                        </mat-error>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                    <div fxFlex="10" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center"
                                         style="margin-bottom: 15px">
                                        <div fxLayout="column" style="width: 80px; margin-top: 10px">
                                            <button (click)="addnewitem()" [disabled]="AddItem.invalid"
                                                    aria-label="Submit"
                                                    color="accent"
                                                    mat-raised-button
                                            >
                                                Add
                                            </button>
                                        </div>
                                    </div>
                                    <div fxFlex="10" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center"
                                         style="margin-bottom: 15px">
                                        <div fxLayout="column" style="width: 80px; margin-top: 10px">
                                            <button color="warn" mat-button
                                                    mat-raised-button matStepperPrevious>Back
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                        <div class=" p-16">
                            <div class="example-container">
                                <table #matSort="matSort" [dataSource]="dataSource" mat-table matSort>
                                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                        <th *matHeaderCellDef mat-header-cell>
                                            <div class="filterHeader">
                                                <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column!='Action'"
                                                       [placeholder]="column|firstAnd_Split">
                                            </div>
                                        </th>
                                        <td *matCellDef="let element" mat-cell>
                                            <p *ngIf="column!='Action';else elseAction">{{element[column]}}</p>
                                            <ng-template #elseAction>
                                                <button (click)="delete_line(element)" *ngIf="column=='Action'"
                                                        mat-icon-button>
                                                    <mat-icon class="icon-size">delete</mat-icon>
                                                </button>
                                                <p *ngIf="column=='created_on'">{{element[column]|date:'dd/MM/yyyy HH:MM a'}}</p>
                                            </ng-template>
                                        </td>
                                        <td *matFooterCellDef mat-footer-cell>
                                            <p *ngIf="column=='item_descrition'">
                                                Total
                                            </p>
                                            <p *ngIf="column!='item_descrition' && column!='item_no' && column!='Action' && dataSource?.data?.length>0">
                                                {{sum_footer(dataSource.data, column) }}
                                            </p>
                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="displayedColumns ; sticky: true" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                    <tr *matFooterRowDef="displayedColumns; sticky: true" mat-footer-row></tr>
                                </table>
                                <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                                <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                            </div>
                            <mat-paginator #matpaginator="matPaginator" [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                                           showFirstLastButtons></mat-paginator>

                        </div>
                        <!--            <div fxFlex="row" fxLayoutGap="10px">
                                        <button mat-button color="warn"
                                                mat-raised-button matStepperPrevious>Back
                                        </button>
                                    </div>-->

                    </mat-step>
                </mat-horizontal-stepper>
            </div>
        </div>
    </div>
</div>



















