<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="poapprovallist">
    <div class="p-16" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
                 fxLayoutAlign="start">


                <div class="h3 mb-8 p-16" fxLayout="column" style="padding-top: 20px">
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.lt-sm="row" fxLayoutGap="10px">
                        <div fxFlex="50" fxLayout="row" fxLayoutAlign="start" fxLayoutAlign.lt-sm="start"
                             fxLayoutGap="20px">
                            <mat-label style="font-size: 18px">Purchase Order Need to Approve List ( <b
                                style="color: red">{{sessionManageMent.getLocationName}}</b> )
                            </mat-label>
                        </div>
                    </div>
                </div>


                <mat-divider></mat-divider>
                <br>
                <div class="p-8" fxFlex fxLayout="column" fxLayout.lt-sm="column">
                    <div class="example-container">
                        <table [dataSource]="dataSource" mat-table matSort>
                            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column" [stickyEnd]="column=='Action'||column=='View'">
                                <th *matHeaderCellDef mat-header-cell>
                                    <div class="filterHeader">
                                        <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                        <input (keyup)="applyFilter($event.target.value,column)"
                                               *ngIf="column!='Action' && column!='View'"
                                               [placeholder]="column|firstAnd_Split">
                                    </div>
                                </th>
                                <td *matCellDef="let element" mat-cell>
                                    <p *ngIf="column!='Action'  && column!='View' && column!='order_date' && column!='exp_date' ">{{element[column]}}</p>

                                    <div *ngIf="column=='Action'">
                                        <button (click)="openforapproval(element)" mat-icon-button>
                                            <mat-icon class="icon-size">edit</mat-icon>
                                        </button>

                                    </div>

                                    <div *ngIf="column=='View'">
                                        <button (click)="viewinfo(element.document_no)" mat-icon-button>
                                            <mat-icon class="icon-size">visibility</mat-icon>
                                        </button>
                                    </div>

                                    <div *ngIf="column=='order_date'">
                                        <p>{{element[column]| date: 'dd/MM/yyyy hh:mm aa'}}</p>
                                    </div>

                                    <div *ngIf="column=='exp_date'">
                                        <p>{{element[column]| date: 'dd/MM/yyyy'}}</p>
                                    </div>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                        </table>
                        <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                        <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                    </div>
                    <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

