<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="purchaseorderview">
    <div class="p-16" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
                 fxLayoutAlign="start">
                <div class="h3 mb-8 p-16" fxLayout="column" style="padding-top: 20px">
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.lt-sm="row" fxLayoutGap="10px">
                        <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <b>Purchase Order View ( </b><b
                            style="color: red"> {{ sessionManageMent.getLocationName}} </b><b> )</b>
                        </div>
                    </div>
                </div>
                <div class="p-8" fxFlex fxLayout="column" fxLayout.lt-sm="column">
                    <mat-tab-group>
                        <mat-tab label="Order">

                            <div class="headertable" fxLayout="column" fxLayoutGap="10px">
                                <table *ngIf="order?.length>0" style=" border:0px;margin-top: 10px;">
                                    <tbody style="font-size: 12px;">
                                    <tr>
                                        <th>Purchase Order No</th>
                                        <th>Vendor Code</th>
                                        <th>Vendor Address</th>
                                        <th>Order Date</th>
                                        <th>Expiry Date</th>
                                        <th>Exp Receipt Date</th>
                                        <th>Payment Terms</th>
                                    </tr>
                                    <tr>
                                        <td>{{this.order[0].document_no}}</td>
                                        <td>{{this.order[0].vendor_no}}</td>
                                        <td>{{this.order[0].vendor_address }}</td>
                                        <td>{{this.order[0].order_date|date:'dd/MM/yyyy'}}</td>
                                        <td>{{this.order[0].exp_date|date:'dd/MM/yyyy'}}</td>
                                        <td>{{this.order[0].expiry_date_receipt |date:'dd/MM/yyyy'}}</td>
                                        <td>{{this.order[0].pay_terms}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                            <b>Purchase Order Item List </b>
                            <br><br>
                            <div class="example-container">
                                <table [dataSource]="dataSource" mat-table matSort>
                                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                        <th *matHeaderCellDef mat-header-cell>
                                            <div class="filterHeader">
                                                <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column!='Edit' && column!='View'"
                                                       [placeholder]="column|firstAnd_Split"
                                                       matInput>
                                            </div>
                                        </th>
                                        <td *matCellDef="let element" mat-cell>
                                            <p *ngIf="column!='Edit' && column!='View'">{{element[column]}}</p>

                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                </table>
                                <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                                <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                            </div>
                            <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                                           showFirstLastButtons></mat-paginator>

                        </mat-tab>
                        <mat-tab label="Receipts">
                            <div class="headertable" fxLayout="column" fxLayoutGap="10px">
                                <table *ngIf="order?.length>0" style=" border:0px;margin-top: 10px;">
                                    <tbody style="font-size: 12px;">
                                    <tr>
                                        <th>Purchase Order No</th>
                                        <th>Vendor Code</th>
                                        <th>Order Date</th>
                                        <th>Expiry Date</th>
                                        <th>Exp Receipt Date</th>
                                        <th>Payment Terms</th>
                                        <th>Total Ordered Quantity</th>
                                        <th>Total Recevied Quantity</th>
                                        <th>Total Accepted Quantity</th>
                                        <th>Total Rejected Quantity</th>
                                    </tr>
                                    <tr>
                                        <td>{{this.order[0].document_no}}</td>
                                        <td>{{this.order[0].vendor_no}}</td>
                                        <td>{{this.order[0].order_date|date:'dd/MM/yyyy'}}</td>
                                        <td>{{this.order[0].exp_date|date:'dd/MM/yyyy'}}</td>
                                        <td>{{this.order[0].expiry_date_receipt |date:'dd/MM/yyyy'}}</td>
                                        <td>{{this.order[0].pay_terms}}</td>
                                        <td>{{this.order[0].total_ordered_qty}}</td>
                                        <td>{{this.order[0].total_received_qty}}</td>
                                        <td>{{this.order[0].total_accepted_qty}}</td>
                                        <td>{{this.order[0].total_reject_qty}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br>
                            <mat-divider></mat-divider>
                            <br>
                            <b>GRN List</b>
                            <br><br>

                            <div class="example-container">
                                <table [dataSource]="grndataSource" mat-table matSort="grnmatsort">
                                    <ng-container *ngFor="let column of grndisplayedColumns" [matColumnDef]="column">
                                        <th *matHeaderCellDef mat-header-cell>
                                            <div class="filterHeader">
                                                <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column!='Edit' && column!='View'"
                                                       [placeholder]="column|firstAnd_Split"
                                                       matInput>
                                            </div>
                                        </th>
                                        <td *matCellDef="let element" mat-cell>
                                            <p>{{element[column]}}</p>
                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="grndisplayedColumns" mat-header-row></tr>
                                    <tr (click)="grn_item_info(row)" *matRowDef="let row; columns: grndisplayedColumns;"
                                        mat-row></tr>
                                </table>
                                <div *ngIf="grndataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                                <mat-divider *ngIf="grndataSource?.data?.length<=0"></mat-divider>
                            </div>
                            <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                                           showFirstLastButtons></mat-paginator>


                        </mat-tab>
                        <mat-tab label="Activity Log">

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

