<div fxLayout="row" fxLayoutAlign="space-between center">

    <b>Create Return Manifest</b>

    <button (click)="send()" mat-dialog-close mat-icon-button>
        <mat-icon>close</mat-icon>
    </button>
</div>
<br>
<mat-divider></mat-divider>
<br>

<div class="mb-24" fxLayout="column" fxLayoutAlign="start">
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxFlex="100" fxFlex.sm fxLayout.lt-sm="column">
            <div fxFlex="50" fxLayout="row" fxLayoutAlign.lt-sm="center">
                <div fxLayout="column" style="width: 80%;">
                    <mat-form-field appearance="outline">
                        <mat-label>DSP (Delivery Partner)</mat-label>
                        <mat-select [formControl]="dsppartnew">
                            <input [(ngModel)]="searchBydsp"
                                   [ngModelOptions]="{standalone:true}"
                                   autocomplete="false"
                                   class="myInput"
                                   id="search1"
                                   matInput
                                   placeholder="Search" type="text">
                            <mat-option
                                *ngFor="let value of dspList | searchdsp:searchBydsp"
                                [value]="value.name">
                                {{value.name}}
                            </mat-option>
                        </mat-select>
                        <mat-error>
                            DSP (Delivery Partner) is required
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxFlex="20" fxLayout="row" fxLayoutAlign.lt-sm="center">
                <div fxLayout="column" style="width: 80%; padding-top: 15px">
                    <button (click)="create_manifest_return()" aria-label="Submit"
                            color="accent"
                            mat-raised-button
                    >
                        Submit
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


