.headertable {
    overflow-x: auto;
    margin-top: 10px;

    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid #aaaaaa;
        border-collapse: collapse;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }
}

.example-container {
    table {
        width: 100%;
    }

    th {
        padding: 15px 10px;
        border: 1px solid #ebeff5;
    }

    td {
        padding: 10px;
        border: 1px solid #ebeff5;
    }
}