@import "src/@pristine/scss/pristine";

#proview {
    .example-container {
        overflow-x: auto;

        table {
            width: 100%;
            border-collapse: collapse;

            th {
                padding: 8px;
                font-weight: bold;
                color: black;
            }
        }
    }

    .filterHeader {
        input {
            width: 120px;
            padding: 8px 8px;
            display: inline-block;
            border-radius: 40px;
            box-sizing: border-box;
            background: #f4f4f4;
            transition: all 0.3s ease;
        }

        input:hover {
            box-shadow: 0px 0px 4px #8d8d8d;
        }

        input:focus::-webkit-input-placeholder {
            color: #ccc;
        }

        input:focus {
            //border: 1px solid #EF4023;
            box-shadow: 0px 0px 4px #aaaaaa;

            ::-webkit-input-placeholder {
                // color: #F5968F;
            }
        }
    }

    .headertable {
        overflow: auto;

        table{
          width: 100%!important;
          border-collapse: collapse;
        }
        table, th, td {
            border: 1px solid #aaaaaa;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;

            color: black;
        }

        td {
            font-size: 15px;

        }
    }
}
