<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="proview">
    <div class="p-16" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
                 fxLayoutAlign="start">
                <div class="h3 mb-8 p-16" fxLayout="column" style="padding-top: 10px">
                    <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                        <b>Purchase Return Order View ( </b><b
                        style="color: red"> {{ sessionManageMent.getLocationName}} </b><b> )</b>
                    </div>

                </div>
                <div fxFlex="" fxLayout="column">
                  <mat-divider></mat-divider>
                </div>
                <div class="p-8" fxFlex fxLayout="column" fxLayout.lt-sm="column">
                    <mat-tab-group>
                        <mat-tab label="Order">
                            <div class="headertable" >
                                <table *ngIf="order.length>0 && order[0].condition=='True' && vendor.length>0 && vendor[0].condition=='True'
                                && location.length>0 && location[0].condition=='True'" style=" border:0px;margin-top: 10px;">
                                    <tbody style="font-size: 12px;">
                                    <tr>
                                        <th>Vendor Detail</th>
                                        <th>Location Detail</th>
                                        <th>Order Detail</th>
                                    </tr>
                                    <tr>
                                        <td><b> Name : </b>{{vendor[0]?.vendor_name}}</td>
                                        <td><b> Name : </b>{{location[0]?.name}}</td>
                                        <td><b> Purchase Return Order No. : </b>{{order[0]?.document_no}}</td>
                                    </tr>
                                    <tr>
                                        <td><b> Address : </b>{{vendor[0]?.vendor_address}}</td>
                                        <td><b> Address : </b>{{location[0]?.address}}</td>
                                        <td><b> Order DateTime
                                          : </b>{{order[0]?.created_date|date:'dd/MM/yyyy hh:mm aa'}}
                                         </td>
                                    </tr>
                                    <tr>
                                        <td><b> State : </b>{{vendor[0]?.state}}</td>
                                        <td><b> State : </b>{{location[0]?.state}}</td>
                                        <td> <b> Order Status : </b>{{order[0]?.order_status}}</td>
                                    </tr>
                                    <tr>
                                        <td><b> City : </b>{{vendor[0]?.city}}</td>
                                        <td><b> City : </b></td>
                                        <td><b> Reservation Status : </b>{{order[0]?.reservation_status}}</td>
                                    </tr>
                                    <tr>
                                        <td><b> Country : </b>{{vendor[0]?.country}}</td>
                                        <td><b> Country : </b>{{location[0]?.country}}</td>
                                        <td><b> Freight Type : </b>{{order[0]?.freight_type}}</td>
                                    </tr>
                                    <tr>
                                        <td><b> Pin Code : </b>{{vendor[0]?.pincode}}</td>
                                        <td><b> Pin Code : </b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b> Email : </b>{{vendor[0]?.email_id}}</td>
                                        <td><b> Email : </b>{{location[0]?.email}}</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b> Phone No : </b>{{vendor[0]?.phone_no}}</td>
                                        <td><b> Phone No : </b>{{location[0]?.contact_no}}</td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                          <div fxLayout="column" class="pt-8">
                            <mat-divider></mat-divider>
                          </div>
                          <div class="example-container pt-8">
                            <b class="pt-8" style="margin-left:5px; color: red ">Item List</b>
                            <table [dataSource]="dataSource" mat-table matSort>
                                    <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                        <th *matHeaderCellDef mat-header-cell>
                                            <div class="filterHeader">
                                                <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column!='Edit' && column!='View'"
                                                       [placeholder]="column|firstAnd_Split"
                                                       matInput>
                                            </div>
                                        </th>
                                        <td *matCellDef="let element" mat-cell>
                                            <a (click)="item_info(element[column])"
                                               *ngIf="column=='item_no' else other">
                                                {{element[column]}}
                                            </a>
                                            <ng-template #other><p>{{element[column]}}</p></ng-template>

                                        </td>
                                        <td *matFooterCellDef mat-footer-cell>
                                            <b *ngIf="column=='item_no'">
                                                Total :
                                            </b>
                                            <b *ngIf="column!='item_no' && column!='line_reservation' && column!='line_status' && dataSource?.data?.length>0">
                                                {{sum_footer(dataSource.data, column) }}
                                            </b>
                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                                    <tr *matFooterRowDef="displayedColumns; sticky: true" mat-footer-row></tr>
                                </table>
                                <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                                <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                            </div>
                            <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                                           showFirstLastButtons></mat-paginator>

                        </mat-tab>
                        <mat-tab label="Invoice">
                            <div class="example-container">
                                <table [dataSource]="invoicedataSource" mat-table matSort="invoicematsort">
                                    <ng-container *ngFor="let column of invoicedisplayedColumns"
                                                  [matColumnDef]="column">
                                        <th *matHeaderCellDef mat-header-cell>
                                            <div class="filterHeader">
                                                <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                                <input (keyup)="applyFilter($event.target.value,column)"
                                                       *ngIf="column!='Edit' && column!='View'"
                                                       [placeholder]="column|firstAnd_Split"
                                                       matInput>
                                            </div>
                                        </th>
                                        <td *matCellDef="let element" mat-cell>
                                            <p *ngIf="column!='View'; else elseAction">{{element[column]}}</p>
                                            <ng-template #elseAction>
                                                <button (click)="viewinfo(element)"
                                                        mat-icon-button>
                                                    <mat-icon class="icon-size">visibility</mat-icon>
                                                </button>
                                            </ng-template>
                                        </td>
                                    </ng-container>
                                    <tr *matHeaderRowDef="invoicedisplayedColumns" mat-header-row></tr>
                                    <tr *matRowDef="let row; columns: invoicedisplayedColumns;" mat-row></tr>
                                </table>
                                <div *ngIf="invoicedataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                                <mat-divider *ngIf="invoicedataSource?.data?.length<=0"></mat-divider>
                            </div>
                            <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                                           showFirstLastButtons></mat-paginator>
                        </mat-tab>
                        <mat-tab label="Activity Log">

                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>

