<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="createpurchaseorder">
  <div class="content p-20" pristinePerfectScrollbar>
    <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
      <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">

        <div class=" h3 mb-8 p-16">
          <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="space-between center"
               fxLayoutGap="10px">
            <div fxFlex="60">
              <b>{{this.inputjson.type|titlecase}} Purchase Order ( </b> <b
              style="color: red"> {{sessionManageMent.getLocationName}}</b><b>
              ) {{currentdate | date: 'dd/MM/yyyy hh:mm a'}} </b>
            </div>

            <div *ngIf="!start&& dataSource?.data?.length>0" fxFlex="20" fxLayout="row" fxLayoutAlign="end">
              <button (click)="complete_po()" [disabled]="complete.invalid"
                      aria-label="Submit"
                      color="accent"
                      mat-raised-button>
                Submit
              </button>
            </div>
          </div>
        </div>


        <mat-divider></mat-divider>

        <div *ngIf="start else documentselected" class="p-16">
          <form [formGroup]="find_purchaseForm" name="find_purchaseForm" novalidate>
            <div fxLayout="column" fxLayoutGap="10px">
              <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                  <div fxLayout="column" style="width: 80%;">
                    <mat-form-field appearance="outline">
                      <mat-label>Vendor Name or No</mat-label>

                      <mat-select autocomplete="off" formControlName="VendorNameorNo">
                        <input (ngModelChange)="get_VendorNo()"
                               [(ngModel)]="searchByVendorNameorNo"
                               [ngModelOptions]="{standalone:true}"
                               autocomplete="off" class="myInput"
                               focused="'true'" matInput placeholder="Search" type="text">
                        <mat-option>None</mat-option>
                        <mat-option
                          *ngFor="let shippingOrder of vendorlist"
                          [value]="shippingOrder.vendor_no">{{shippingOrder.vendor_name}}</mat-option>
                      </mat-select>
                      <mat-error>
                        Vendor Name or Number is required
                      </mat-error>

                    </mat-form-field>
                  </div>
                </div>
                <div fxFlex="20" fxLayout="row" fxLayoutAlign.lt-sm="center">
                  <div fxLayout="column" style="width: 80px;margin-top: 10px">
                    <button (click)="get_purchase_orderno_with_vendorinfo()"
                            [disabled]="find_purchaseForm.invalid" aria-label="Submit"
                            color="accent" mat-raised-button
                            mat-ripple>
                      Submit
                    </button>

                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>


        <ng-template #documentselected>
          <div class="h3 mb-8 p-16">
            <b>Vendor Information</b>
            <br>

            <div class="headertable" fxLayout="column" fxLayoutGap="10px">
              <table style=" border:0px;margin-top: 10px;">
                <tbody style="font-size: 12px;">
                <tr>
                  <th>Vendor No</th>
                  <th>Vendor Name</th>
                  <th>Vendor Address</th>
                  <th>Pincode</th>
                  <th>City</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Mobile No</th>
                  <th *ngIf="this.inputjson.type=='update'">Rejection Reason</th>
                </tr>
                <tr>
                  <td>{{this.VendorInfoWithPO[0]?.vendor_no}}</td>
                  <td>{{this.VendorInfoWithPO[0]?.vendor_name}}</td>
                  <td>{{this.VendorInfoWithPO[0]?.vendor_address }}</td>
                  <td>{{this.VendorInfoWithPO[0]?.pincode}}</td>
                  <td>{{this.VendorInfoWithPO[0]?.city}}</td>
                  <td>{{this.VendorInfoWithPO[0]?.state }}</td>
                  <td>{{this.VendorInfoWithPO[0]?.country}}</td>
                  <td>{{this.VendorInfoWithPO[0]?.mobile_no}}</td>
                  <td  *ngIf="this.inputjson.type=='update'">{{this.VendorInfoWithPO[0]?.rejection_reason}}</td>
                </tr>
                </tbody>
              </table>
            </div>


            <br>
            <mat-divider></mat-divider>
            <br>
            <b>Purchase Order No (</b> <b
            style="color: red">  {{this.VendorInfoWithPO[0]?.purchase_order_no}} </b><b> ) Information </b>
            <br><br>

            <form [formGroup]="complete" name="complete" novalidate>

              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                    <div fxLayout="column" style="width: 80%;">
                      <mat-form-field appearance="outline">
                        <mat-label>Payment Terms</mat-label>
                        <mat-select formControlName="PaymentTerms">
                          <mat-option>None</mat-option>
                          <mat-option (select)="this.purchaseForm.setValue({PaymentTerms:values})"
                                      *ngFor="let values of paymentTerms"
                                      [value]="values">{{values}} </mat-option>
                        </mat-select>
                        <mat-error>
                          Payment Terms is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                    <div fxLayout="column" style="width: 80%;">
                      <mat-form-field appearance="outline">
                        <mat-label>Expiry Date</mat-label>
                        <input (focusin)="ldate.open()"
                               [matDatepicker]="ldate"

                               [min]="minDateexp" autocomplete="false"
                               formControlName="ExpiryDate"
                               matInput
                               placeholder="Choose Expiry Date">
                        <mat-datepicker #ldate="matDatepicker"></mat-datepicker>
                        <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>
                        <mat-error>
                          Expiry Date is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                    <div fxLayout="column" style="width: 80%;">
                      <mat-form-field appearance="outline">
                        <mat-label>Expected Receipt Date</mat-label>
                        <input (focusin)="erdate.open()"
                               [matDatepicker]="erdate"
                               [min]="minDateexp" autocomplete="false"
                               formControlName="ExpiryDateReceipt"
                               matInput
                               placeholder="Choose Expiry Receipt Date">
                        <mat-datepicker #erdate="matDatepicker"></mat-datepicker>
                        <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>
                        <mat-error>
                          Expected Receipt Date is required
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <b *ngIf="this.inputjson.type!='update'"> Add Product In the Order </b>
            <b *ngIf="this.inputjson.type=='update'"> Change Product In the Order </b>
            <br><br>
            <form [formGroup]="purchaseForm" name="purchaseForm" novalidate>

              <div fxLayout="column" fxLayoutGap="10px">
                <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                  <div fxFlex="40" fxLayout="row" fxLayoutAlign.lt-sm="center">
                    <div fxLayout="column" style="width: 80%;">
                      <mat-form-field appearance="outline">
                        <mat-label>Find Item By Name Or No</mat-label>

                        <mat-select autocomplete="off" formControlName="ItemNo">
                          <input (ngModelChange)="get_Item()"
                                 [(ngModel)]="searchByItemNameorNo"
                                 [ngModelOptions]="{standalone:true}"
                                 autocomplete="off" class="myInput"
                                 focused="'true'" matInput placeholder="Search" type="text">
                          <mat-option>None</mat-option>
                          <mat-option
                            *ngFor="let shippingOrder of itemlist"
                            [value]="shippingOrder.item_no">{{shippingOrder.name + '( ' + shippingOrder.item_no + ' )'}}</mat-option>
                        </mat-select>
                        <mat-error>
                          Item Name or Number is required
                        </mat-error>

                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="center" fxLayoutAlign.lt-sm="center">
                    <div fxLayout="column" style="width: 80%;">
                      <mat-form-field appearance="outline">
                        <mat-label>Quantity</mat-label>
                        <input autocomplete="off" formControlName="Quantity" matInput
                               pattern="[0-9]*"
                               type="text">
                        <mat-error>
                          Quantity is Wrong
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="10" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center">
                    <div fxLayout="column" style="width: 80%;">
                      <mat-form-field appearance="outline">
                        <mat-label>Discount</mat-label>
                        <input autocomplete="off" formControlName="Discount" matInput
                               pattern="[0-9]*"
                               type="text">
                        <mat-error>
                          Discount is Wrong
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div fxFlex="30"
                       fxLayout="column" fxLayoutAlign.lt-sm="center"
                       style="margin-top: 7px; margin-left: 30px; margin-right: 20px; width: 80%;">
                    <div fxLayout="row" fxLayoutAlign.lt-sm="center" style="width: 80%;">
                      <mat-checkbox formControlName='IsExpireDate' fxLayout="column">For
                        ExpireDate
                      </mat-checkbox>
                    </div>
                    <div fxLayout="row" fxLayoutAlign.lt-sm="center" style="width: 80%;">
                      <mat-checkbox formControlName='IsVandorLotNo' fxLayout="column">For Vendor
                        Lot
                      </mat-checkbox>
                    </div>
                  </div>
                  <div fxFlex="15" fxLayout="row" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center"
                       style="margin-bottom: 15px">
                    <div fxLayout="column" style="width: 80px; margin-top: 10px">
                      <button (click)="AddItem()" [disabled]="purchaseForm.invalid"
                              aria-label="Submit"
                              color="accent"
                              mat-raised-button
                      >
                        Add
                      </button>
                    </div>
                  </div>


                </div>
              </div>
            </form>


          </div>
        </ng-template>

        <div class="h3 mb-8 p-16">
          <div [hidden]="start">
            <div class="example-container">
              <table #matSort="matSort" [dataSource]="dataSource" mat-table matSort>
                <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                  <th *matHeaderCellDef mat-header-cell>
                    <div class="filterHeader">
                      <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                      <input (keyup)="applyFilter($event.target.value,column)"
                             *ngIf="column!='Action'"
                             [placeholder]="column|firstAnd_Split">
                    </div>
                  </th>
                  <td *matCellDef="let element" mat-cell>
                    <p *ngIf="column!='Action';else elseAction">{{element[column]}}</p>
                    <ng-template #elseAction>
                      <button (click)="delete_line(element)" *ngIf="column=='Action'"
                              mat-icon-button>
                        <mat-icon class="icon-size">delete</mat-icon>
                      </button>
                      <p *ngIf="column=='created_on'">{{element[column]|date:'dd/MM/yyyy HH:MM a'}}</p>
                    </ng-template>
                  </td>
                  <td *matFooterCellDef mat-footer-cell>
                    <p *ngIf="column=='item_descrition'">
                      Total
                    </p>
                    <p
                      *ngIf="column!='item_descrition' && column!='item_no' && column!='Action' && dataSource?.data?.length>0">
                      {{sum_footer(dataSource.data, column) }}
                    </p>
                  </td>
                </ng-container>
                <tr *matHeaderRowDef="displayedColumns ; sticky: true" mat-header-row></tr>
                <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                <tr *matFooterRowDef="displayedColumns; sticky: true" mat-footer-row></tr>
              </table>
              <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
              <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
            </div>
            <mat-paginator #matpaginator="matPaginator" [pageSizeOptions]="[ 5, 10, 20, 30,40,50]"
                           showFirstLastButtons></mat-paginator>


          </div>
        </div>


      </div>
    </div>
  </div>
</div>
