/*@import 'src/@pristine/scss/pristine';*/
.shelf-content {
    overflow-y: auto;
    //menu notification


}

.myInput {
    height: 50px !important;
    padding: 10px !important;
}

.component-container {
    all: initial;
    all: unset;
}