<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="dsplist">
    <div class="p-16" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column"
                 fxLayoutAlign="start">


                <div class="h3 mb-8 p-16" fxLayout="column" style="padding-top: 20px">
                    <div fxFlex="1 0 auto" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                        <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column"
                             fxLayoutAlign="space-between center">
                            <div fxFlex="50">
                                <b>Pick List ( </b><b
                                style="color: red"> {{ sessionManageMent.getLocationName}} </b><b>
                                ) </b>
                            </div>
                        </div>

                    </div>
                </div>


                <mat-divider></mat-divider>
                <br>
                <div class="p-8" fxFlex fxLayout="column" fxLayout.lt-sm="column">
                    <form [formGroup]="PickStart" name="registerForm" novalidate>
                        <div fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                            <div fxFlex="30" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Pick No</mat-label>
                                        <input (focusin)="this.pickerList=[]; this.PickStart.get('Picker').setValue('')"
                                               (focusout)="find_pickerlist()"
                                               (keydown.enter)="find_pickerlist()"
                                               autocomplete="off" focused="true" formControlName="PickNo"
                                               matInput
                                               placeholder="Pick No"
                                               type="text"
                                        >
                                        <mat-error>
                                            Pick No is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div
                                *ngIf="this.sessionManageMent.getPickType=='manual' || this.sessionManageMent.getRoleId=='0' || this.sessionManageMent.getRoleId=='2' "
                                fxFlex="30"
                                fxFlex="25" fxLayout="row"
                                fxLayoutAlign.lt-sm="center">
                                <div fxLayout="column" style="width: 80%;">
                                    <mat-form-field appearance="outline">
                                        <mat-label>Picker</mat-label>
                                        <mat-select formControlName="Picker">
                                            <mat-option>None</mat-option>
                                            <mat-option *ngFor="let values of pickerList"
                                                        [value]="values.assign_to">{{values.assign_to}}  </mat-option>
                                        </mat-select>
                                        <mat-error>
                                            Picker is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div fxFlex="30" fxLayoutAlign="end" fxLayoutAlign.lt-sm="center">
                                <button (click)="start_pick('scan')" [disabled]="PickStart.invalid"
                                        color="accent" mat-raised-button
                                        style="margin-top: 10px; height: 45px">
                                    Start
                                </button>
                            </div>
                        </div>

                    </form>

                    <div class="example-container">
                        <table [dataSource]="dataSource" mat-table matSort>
                            <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
                                <th *matHeaderCellDef mat-header-cell>
                                    <div class="filterHeader">
                                        <b mat-sort-header>{{column|firstAnd_Split}}</b><br>
                                        <input (keyup)="applyFilter($event.target.value,column)"
                                               *ngIf="column!='Edit' && column!='View'"
                                               [placeholder]="column|firstAnd_Split"
                                               matInput>
                                    </div>
                                </th>
                                <td *matCellDef="let element" mat-cell>
                                    <p *ngIf="column!='View';else elseAction">{{element[column]}}</p>
                                    <ng-template #elseAction>
                                        <button (click)="start_pick('view', element)" *ngIf="column=='View'"
                                                mat-icon-button>
                                            <mat-icon class="icon-size">visibility</mat-icon>
                                        </button>
                                    </ng-template>
                                </td>
                            </ng-container>
                            <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
                            <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                        </table>
                        <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                        <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                    </div>
                    <mat-paginator [pageSizeOptions]="[ 5, 10, 20, 30,40,50]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

