<div class="page-layout simple fullwidth inner-scroll" fxLayout="column" id="gateentryinfo">
    <div class="content p-20" pristinePerfectScrollbar>
        <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
            <div class="mat-card mat-elevation-z1" fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
                <div class="h3 mb-8 p-16"><b>View GateEntry ( </b> <b
                    style="color: red"> {{sessionManageMent.getLocationName}}</b><b> ) </b></div>
                <div class="p-16">
                    <form [formGroup]="infoForm" name="infoForm">
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>GateEntry No</mat-label>
                                            <input autocomplete="off" formControlName="GateEntryNo" matInput>
                                            <mat-icon class="secondary-text" matSuffix>assignment</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>GateEntry DateTime</mat-label>
                                            <input autocomplete="off" formControlName="GateEntryDateTime"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>watch</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Created By</mat-label>
                                            <input autocomplete="off" formControlName="CreatedBy"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>verified_user</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Location</mat-label>
                                            <input autocomplete="off" formControlName="Location"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>where_to_vote</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Vehicle No</mat-label>
                                            <input autocomplete="off" formControlName="VehicleNo"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>airport_shuttle</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Driver Name</mat-label>
                                            <input autocomplete="off" formControlName="DriverName"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>face</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Driver Number</mat-label>
                                            <input autocomplete="off" formControlName="DriverNumber"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>dialpad</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Transpoter</mat-label>
                                            <input autocomplete="off" formControlName="Transpoter"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>commute</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Lorry Receipt(GR)</mat-label>
                                            <input autocomplete="off" formControlName="LRNo"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>receipt</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>LR Date</mat-label>
                                            <input formControlName="LRDate" matInput placeholder="Choose LR date">
                                            <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Freight Type</mat-label>
                                            <input autocomplete="off" formControlName="Freight"
                                                   matInput>
                                            <!--                                            <mat-select formControlName="Freight"></mat-select>-->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="this.infoForm.get('Freight').value == 'To Pay'" fxFlex="25"
                                     fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Freight Amount</mat-label>
                                            <input autocomplete="off" formControlName="FreightAmount" matInput
                                                   pattern="[0-9]*"
                                                   type="text">
                                            <mat-icon matSuffix>money</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Document Type</mat-label>
                                            <input autocomplete="off" formControlName="DocumentType"
                                                   matInput>
                                            <!--                                            <mat-select formControlName="DocumentType"></mat-select>-->
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div *ngIf="infoForm.get('DocumentType').value== 'Purchase Order'" fxFlex="100" fxFlex.sm
                                     fxLayout.lt-sm="column">
                                    <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Vendor</mat-label>
                                                <input autocomplete="off" formControlName="VendorNoorFromLocation"
                                                       matInput>
                                                <!--                                                <mat-select autocomplete="off"-->
                                                <!--                                                            formControlName="VendorNoorFromLocation"></mat-select>-->
                                                <mat-icon class="secondary-text" matSuffix>supervised_user_circle
                                                </mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Purchase Order</mat-label>
                                                <input autocomplete="off" formControlName="DocumentNo"
                                                       matInput>
                                                <!--                                                <mat-select formControlName="DocumentNo" autocomplete="off">-->

                                                <!--                                                </mat-select>-->
                                                <mat-icon class="secondary-text" matSuffix>receipt</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.infoForm.get('DocumentType').value== 'Inbound Transfer Order'" fxFlex="100" fxFlex.sm
                                     fxLayout.lt-sm="column">
                                    <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>From Location</mat-label>
                                                <input autocomplete="off" formControlName="VendorNoorFromLocation"
                                                       matInput>
                                                <!--                                                <mat-select formControlName="VendorNoorFromLocation"-->
                                                <!--                                                            autocomplete="off"></mat-select>-->
                                                <mat-icon class="secondary-text" matSuffix>place</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                    <div fxFlex="33" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                        <div fxLayout="column" style="width: 80%;">
                                            <mat-form-field appearance="outline">
                                                <mat-label>Inbound Transfer Order</mat-label>
                                                <input autocomplete="off" formControlName="DocumentNo"
                                                       matInput>
                                                <!--                                                <mat-select formControlName="DocumentNo" autocomplete="off">-->

                                                <!--                                                </mat-select>-->


                                                <mat-icon class="secondary-text" matSuffix>receipt</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="this.infoForm.get('DocumentType').value== 'Sales Return Order'" fxFlex="25"
                                     fxFlex.sm fxLayout="row"
                                     fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" fxLayoutAlign.lt-sm="center">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Invoice No</mat-label>
                                            <input autocomplete="off" formControlName="DocumentNo"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>receipt</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Challan No</mat-label>
                                            <input autocomplete="off" formControlName="ChallanNo"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>receipt</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Challan Date</mat-label>
                                            <input formControlName="ChallanDate"
                                                   matInput placeholder="Choose LR date">
                                            <mat-icon class="secondary-text" matSuffix>date_range</mat-icon>

                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxFlex="25" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>No of Boxes</mat-label>
                                            <input autocomplete="off" formControlName="NoofBox" matInput
                                                   pattern="[0-9]*"
                                                   type="text">
                                            <mat-icon class="secondary-text" matSuffix>widgets</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutGap="10px">
                            <div fxFlex="1 0 auto" fxFlex.sm fxLayout="row" fxLayout.lt-sm="column">
                                <div fxFlex="50" fxLayout="row" fxLayoutAlign.lt-sm="center">
                                    <div fxLayout="column" style="width: 80%;">
                                        <mat-form-field appearance="outline">
                                            <mat-label>Item Description</mat-label>
                                            <input autocomplete="off" formControlName="ItemDescription"
                                                   matInput>
                                            <mat-icon class="secondary-text" matSuffix>description</mat-icon>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>