<div id="iqcbarcodelist">

    <div class="mb-24" fxLayout="column" fxLayoutAlign="start">
        <div fxFlex="1 0 auto" fxLayout="column" fxLayoutAlign="start">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <b> Barcode Information of GRN No : {{data}}</b>

                <button (click)="send()" mat-dialog-close mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>


            </div>
            <br>
            <mat-divider></mat-divider>
            <br>

            <div class="mb-24" fxLayout="column" fxLayoutAlign="start">


                <div class="example-container" pristinePerfectScrollbar>
                    <table [dataSource]="dataSource" mat-table matSort>

                        <!-- Position Column -->
                        <ng-container matColumnDef="barcode">


                            <th *matHeaderCellDef mat-header-cell>
                                <div class="filterHeader">
                                    <b mat-sort-header>Barcode</b><br>
                                    <input (keyup)="applyFilter($event.target.value,'barcode')"
                                           placeholder="Barcode">
                                </div>
                            </th>

                            <td *matCellDef="let element" mat-cell> {{element.barcode}} </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="item_no">
                            <th *matHeaderCellDef mat-header-cell>
                                <div class="filterHeader">
                                    <b mat-sort-header>Item No</b><br>
                                    <input (keyup)="applyFilter($event.target.value,'item_no')"
                                           placeholder="Barcode">
                                </div>
                            </th>
                            <td *matCellDef="let element" mat-cell> {{element.item_no}} </td>
                        </ng-container>

                        <!-- Symbol Column -->
                        <ng-container matColumnDef="accepted_qty">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Accepted Qty ( <b
                                style="color: red">{{ total_accepted_qty}} </b> )
                            </th>
                            <td *matCellDef="let element" mat-cell> {{element.accepted_qty}} </td>
                        </ng-container>


                        <ng-container matColumnDef="rejected_qty">
                            <th *matHeaderCellDef mat-header-cell mat-sort-header> Rejected Qty ( <b
                                style="color: red">{{ total_rejected_qty}} </b> )
                            </th>
                            <td *matCellDef="let element" mat-cell> {{element.rejected_qty}} </td>
                        </ng-container>

                        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
                        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
                    </table>
                    <div *ngIf="dataSource?.data?.length<=0" class="h3 m-16">No Record Found.</div>
                    <mat-divider *ngIf="dataSource?.data?.length<=0"></mat-divider>
                </div>
                <mat-paginator [pageSizeOptions]="[5, 10, 20, 30,40,50]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
    </div>
</div>
